<!doctype html>
<html ng-app>
	<head>
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="cards.js"></script>
	</head>
	<body>
		<div ng-controller="QuestionCtrl">
			<div class="card black">
				{{question.text}}
			</div>
		</div>
		<div ng-controller="ResponseCtrl">
			<div ng-repeat="response in responses" ng-click="remove($index)" class="card">
				{{response.text}}
			</div><br>
		</div>
		<div ng-controller="PlayedCtrl">
			<h1>Played</h1>
			<div ng-repeat="play in played" class="card">
				{{play.text}}
			</div><br>
		</div>
	</body>
</html>


