<!doctype html>
<html ng-app>
	<head>
		<link rel="stylesheet" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="cards.js"></script>
	</head>
	<body>
		<div ng-controller="IDCtrl" id='idCtrl'>
			<h1>ID: {{id}}</h1>
			<h1 ng-show="winner">Winner: {{winner}}</h1>
			<a href ng-click='nextRound()' ng-show="winner">Next Round</a>
		</div>
		<div ng-controller="QuestionCtrl">
			<div class="card black">
				{{question.text}}
			</div>
		</div>
		<div ng-controller="ResponseCtrl">
			<h1 ng-show="judge">You are the judge this round and cannot vote!</h1>
			<div ng-repeat="response in responses" ng-click="remove($index)" class="card">
				{{response.text}}
			</div><br>
		</div>
		<div ng-controller="PlayedCtrl">
			<h1>Played</h1>
			<div ng-repeat="play in played" ng-click="choose($index)" class="card" ng-class='{ lost: play.lost }'>
				{{play.card.text}}
			</div><br>
		</div>
	</body>
</html>


