.card{
	display: inline-block;
	height: 200px;
	width: 200px;
	border: 1px solid black;
	padding: 3px;
	margin: 3px;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	word-wrap: break-word;
}
.card.black{
	background-color: black;
	color: white;
	cursor: auto;
}

.lost{
	-webkit-animation: drop 1s;
	-webkit-animation-fill-mode:forwards;
}

@-webkit-keyframes drop{
	0%{
	}
	100%{
		opacity: 0;
		visibility: hidden;
	}
}

